= form_for :restaurant_zone, url: admin_restaurant_zones_path, remote: true, method: :post do |f|
  -# form outside of the table, as it can't be inside due to html restrictions
  %table.table.table-striped.table-hover.table-responsive.restaurant-zone_table
    %thead.thead-inverse
      %tr
        %th id
        %th Date
        %th Restaurant
        %th Zone
        %th
    %tbody
      = render partial:"restaurant_zones", locals: { restaurant_zones: restaurant_zones, date: date }
      = render partial: "new_restaurant_zone", locals: { restaurants: restaurants, zones: zones, date: date, f: f }
    
- if flash[:alert]
  .alert-danger.text-center
    = flash[:alert]
- if flash[:notice]
  .alert-success.text-center
    = flash[:notice]
          
   
    
  