%table.table.table-striped.table-hover.table-responsive.restaurant-zone_table
  %thead.thead-inverse
    %tr
      %th id
      %th Date
      %th Restaurant
      %th Zone
      %th
  %tbody
    - restaurant_zones.each do |rz|
      %tr
        %td
          = rz.id
        %td
          = rz.delivery_date
        %td
          = rz.restaurant.name
        %td
          = rz.zone.name
        %td
          = link_to icon('trash-o'), admin_restaurant_zone_path(id: rz.id, date: date), method: :delete, remote: true, data: { confirm: 'Are you sure?' }
    %tr
      %td
      %td
        = date
      %td
        %select.custom-select
          - restaurants.each do |restaurant|
            %option{value: restaurant.id}
              = restaurant.name
      %td  
        %select.custom-select
          - zones.each do |zone|
            %option{value: zone.id}
              = zone.name
      %td
        = link_to icon('plus-circle')
- if flash[:alert]
  .alert-danger.text-center
    = flash[:alert]
- if flash[:notice]
  .alert-success.text-center
    = flash[:notice]
          
   
    
  